.index{
	position: absolute;
	margin: auto;
	width: 80%;
	height: 80%;
	left: 0;
	right: 0;
	
}

.btn1{
	position: relative;
	max-width: 300px;
	max-height: 100px;
}

.div1{
	position: absolute;
	width: 1898px;
	height: 1080px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.div2{
	position: relative;
	max-width: 300px;
	max-height: 100px;
	left: 800px;
	top: 450px;
}
